<h2>Tasks</h2>

<form class="form">
  <input
    type="text"
    placeholder="Search..."
    [formControl]="searchFilter"
  >
  <label>
    <input
      type="radio"
      name="undoneFilter"
      [formControl]="undoneFilter"
      [value]="false"
    >
    All
  </label>
  <label>
    <input
      type="radio"
      name="undoneFilter"
      [formControl]="undoneFilter"
      [value]="true"
    >
    Undone
  </label>
</form>
<ul class="list">
  <li
    class="list-item--tasks"
    *ngFor="let task of (tasks | async)"
  >
    <a
      class="task"
      [class.task--done]="task.isDone"
      [title]="task.isDone ? 'unmark as done' : 'mark as done'"
      (click)="toggleTaskStatus(task);"
    >
      {{ task.name }}
    </a>
    <button
      class="btn-delete"
      (click)="deleteTask(task)"
    >
      X
    </button>
  </li>
</ul>
<form
  class="form mt-auto"
  [formGroup]="form"
  (submit)="onSubmit()"
>
  <input
    type="text"
    title="task name"
    placeholder="Add TODO..."
    formControlName="name"
  >
</form>
