@import './colors';

@mixin material-border {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@mixin btn {
  cursor: pointer;
  background-color: $c-bg;
  border: 0;
  color: $c-text;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  &:hover {
    filter: brightness(85%);
  }

  &.disabled,
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
}

@mixin form {
  display: flex;
  flex-direction: column;
  margin: 1em 0;

  > * {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  button[type=submit] {
    @include btn;
  }

  input[type=text] {
    padding: 5px;

    &:focus {
      outline-color: $c-bg-accent;
    }
  }
}
